body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header Area CSS */

header{
    background-color: #120E43;
    display: flex;
    justify-content: space-between;
    color: white;
}

.header-area h1{
    font-size: 25px;
    width: 243px;
    height: 52.2px;
    font-weight: bolder;
    padding-left: 295px;
    padding-top: 24px;
}
nav>ul {
    display: flex;
}
nav{
    margin-right: 130px;
    padding-top: 24px;
}

nav li{
    list-style: none;
    margin-right: 1em;
}

nav li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

nav li a:hover{
    color: #E02C6D;
}

/* First part areas */

.container-one{
    display: flex;
    justify-content: space-evenly;
    margin-top: 138px;
    margin-bottom: 80px;
}

.contents{
    width: 582px;
}
.contents h1{
    font-size: 52px;
}

.contents p{
    font-size: 16px;
    margin-bottom: 40px;
}

.contents a{
    background-color: #E02C6D;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 44px;
    text-align: center;
}

.contents .fas{
    padding-left: 10px;
    padding-right: 15px;
}

.contents a:hover{
    color:#E02C6D;
    background-color: #03203C;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
      }
      35% {
        transform: rotate(220deg) scale(1.1);
      }
      100% {
        transform: rotate(360deg);
      }
}
.pictures img:hover{
    animation: rotation 2s ease-in-out 0.1s 2 alternate;
}

.pictures-two{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.image{
    padding-right: 50px;
}
hr{
    height: 1px;
    background-image: linear-gradient(to right, white, rgb(185, 185, 185), white);
    width: 1287px;
    border: 0;
}

/* Second part area */

.popular-head{
    font-size: 28px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 60px;
}

.container-two{
    margin-left: 180px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    column-gap: 20px;
    padding: 30px;
}

.container-two .category{
    height: 90%;
    width: 80%;
    box-shadow: 2px 2px 4px grey;
    padding: 15px;
}

.sub-category img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.container-three{
    margin-top: 120px;
    margin-left: 15%;
    width: 60%;
    display: flex;
    margin-bottom: 50px;
}

.container-three img{
    width: 404px;
    height: 270px;
    border-radius: 10px;
}

.content-two{
    padding-top: 20px;
    padding-left: 120px;
}

.content-two h1{
    font-size: 38px;
}

.content-two a{
    background-color: #E02C6D;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 44px;
    text-align: center;
}

.content-two a:hover{
    background-color: #03203C;
    color: #E02C6D;
}

.end{
    padding-top: 30px;
    padding-left: 40%;
    height: 200px;
    background-color: #120E43;
    color: whitesmoke;
}

.icon-design{
    display: flex;
}

.icon{
    /* font-size: 20px; */
    padding-left: 110px;
}

.fab{
    color:  rgb(168, 35, 68);
    padding-right: 10px;
}

.fab:hover{
    color: whitesmoke;
}
#write-two{
    padding-left: 70px;
}
#write-three{
    padding-left: 70px;
}

@media only screen and (max-width:688px) {
    nav li{
        display: none;
    }
    .container-one{
        width: 100%;
        flex-direction: column;
        padding: 18px;
    }
    .container-one img{
        margin-top: 25px;
        width: 200px;
        height: 200px;
        order: -1;
    }
    .contents{
        margin-top: 20px;
        margin-right: 0%;
        padding: 15px;
    }
    .container-two{
        width: 90%;
        grid-template-columns: repeat(1, 1fr)
    }
    .container-three{
        width: 80%;
        flex-direction: column;
        padding: 30px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .content-two{
        margin-left: 0px;
    }
    .container-three img{
        height: 200px;
    }
}